/* ----- Colors ----- */

thead tr {
	background-color: #47e2a1; /* .weld_green */
}

tbody tr:nth-child(2n+1) {
	background-color: hsla(0, 0%, 100%, 0.2);
}

tbody tr:nth-child(2n+0) {
	background-color: hsla(0, 0%, 100%, 0.6);
}

/* ----- Fonts ----- */

body {
	font-family: 'weld-light', sans-serif;
	font-size: 20px;
}

/* ----- Navigation ----- */

nav {
	display: inline-block;
}

a {
	color: inherit;
	opacity: 0.7;
	transition: opacity 0.25s;
}
a:hover {
	opacity: 1;
}

/* ----- Highscore ----- */

.current {
	font-weight: bold;
}
