<% include ../shared/header %>

<section class="color1">
	<h1><%- title %></h1>
</section>

<section class="color2">	
	<h2>How to get points</h2>

	<ol>
		<li>Go to <a href="<%- githubUrl %>" target="github">GitHub Issues for your project</a>.</li>
		<li>Create, close, or edit issues.</li>
		<li>Track progress on the <a href="/highscore">Highscore</a>.</li>
	</ol>
</section>

<section class="color3">	
	<h2>Scoring</h2>

	<%- objectToHtml(scoringTable) %>
</section>

<% include ../shared/footer %>