<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title><%- title %></title>
<script type="text/javascript" src="/js/app.js" async></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="/flexsite/styles/flexsite.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body class="color1light">
<main>

<% include navigation %>