<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title><%- title %></title>
<script type="text/javascript" src="/js/app.js" async></script>
<link rel="stylesheet" href="/flexsite/styles/flexsite.css">
<link rel="stylesheet" href="/weld-design-kit/css/weld-fonts.css">
<link rel="stylesheet" href="/weld-design-kit/css/weld-colors.css">
<link rel="stylesheet" href="/css/style.css">
<link id="favicon" rel="shortcut icon" href="/img/icon_head.png" sizes="512x512" type="image/png"/>
<xmeta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">	
</head>

<body class="weld_cyan_light">
<main>

<% include navigation %>